<!DOCTYPE html>
<html>
    <head>
        <title>Pretty Little Ting</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>

    <div id="landing-header">
 		<h1>Pretty Little Ting!</h1>
		<a href="/makeup" class="btn btn-lg btn-success">View All Makeup</a>
    </div>

    <ul class="slideshow">
      <li></li>
    </ul>
