body {
  background-color: #000;
  font-family: 'Dancing Script', cursive;
}

body .btn-success {
  background-color: transparent;
  border-color: black;
  font-size: 2em;
}

body .btn-success:hover {
    background-color: transparent;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: white;
  font-size: 6em;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.78;
}

.slideshow li:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1487412912498-0447578fcca8?ixlib=rb-0.3.5&s=6b320c3e8911938beae5c8ef35ff11c2&auto=format&fit=crop&w=1650&q=80)
}
