.thumbnail {
    padding: 0;
    border-radius: 30px
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail img {
  border-radius: 30px;
  width: 100%;
}

.btn-success {
  background-color: #831496;
  border-color: inherit;
}

.btn-primary {
  background-color: #c55095c4;
  border-color: inherit;
}

a btn-success {
  background-color: white;
  border-color: white;
}

body {
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fffcdc, #d9a7c7) no-repeat center center fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fffcdc, #d9a7c7) no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Dancing Script', cursive;
}
